/* BASIC SETUP */
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
  color: rgb(230, 230, 230);
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
}

.background,
.bio-background {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

h2,
h4,
.bio p,
.copyright {
  font-family: "Open Sans", sans-serif;
}

.thumb-title,
.social-tree,
h2,
.description,
.bio p {
  font-weight: 300;
}

h1,
.img-title {
  font-weight: 400;
}

.main-nav li,
.thumb a,
.logo a {
  display: inline-block;
}

/* ----- LINKS ----- */
.thumb a,
.next,
.previous,
.close-btn {
  cursor: pointer;
}

.social li a:hover,
.contact-info li a:hover,
.main-nav li a:hover,
.next:hover,
.previous:hover,
.close-btn:hover {
  color: chocolate;
  transition: 0.5s;
}

.main-nav li a,
.eml-protected,
.social-tree li a {
  color: rgb(230, 230, 230);
}

.main-nav,
.social,
.social-tree {
  list-style: none;
}

.main-nav li a,
.eml-protected,
.social li a,
.social-tree li a {
  text-decoration: none;
}

/* ----------------- */
/* MAIN MENU */
.background {
  background-image: linear-gradient(rgba(30, 30, 30, 0.45), rgba(30, 30, 30, 0.45)), url("/resources/img/background-1.jpg");
  background-position: 50% 30%;
}

nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.logo-btn {
  background-image: url("/resources/img/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: 18px;
}

.main-nav {
  margin: 28px 18px;
}

.main-nav li {
  margin-left: 30px;
}

.main-nav li a {
  font-size: 18px;
}

.content {
  position: relative;
  top: 50%;
  width: 100%;
}

.name {
  margin: 0 auto;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

/* ----------------- */
/* GALLERY */
#works-section {
  width: 100%;
  padding-top: 32px;
}

h3 {
  font-size: 32px;
  margin: 0 0 8px 10px;
}

.grid {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1680px;
}

.thumb {
  position: relative;
  text-align: center;
  flex: 1 1 auto;
  width: 300px;
  height: 300px;
  margin: 10px;
}

.thumb a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.thumb a:hover {
  opacity: 0.2;
  transition: opacity 0.5s;
}

.thumb a:active {
  opacity: 1;
}

.thumb-title {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* IMAGE VIEWER */
.img-box {
  display: none;
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0.9));
  padding: 28px 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  animation-name: show-img;
  animation-duration: 0.4s;
}

@keyframes show-img {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.img-viewer .img-box {
  display: block;
}

.img-viewer {
  overflow-y: hidden;
}

.img-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
  box-sizing: inherit;
  padding-top: 10px;
}

.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.description {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top: 12px;
  flex: 0 0 84px;
}

.img-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.img-description {
  font-size: 18px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.previous,
.next {
  padding: 20px;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* ----------------- */
/* BIO */
.bio-background {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), url("/resources/img/background-2.jpg");
  background-position: 50% 30%;
  z-index: -1;
}

.bio-content{
  min-height: calc(100vh - 76px);
  box-sizing: border-box;
  padding-top: 6%;
}

.bio {
  max-width: 1024px;
  display: flex;
  flex-flow: row wrap;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.bio p {
  line-height: 1.5em;
  font-size: 19px;
}

.column-one,
.column-two {
  padding: 40px;
  box-sizing: border-box;
  flex: 0 1 30%;
}

.column-one {
  flex-grow: 2;
  margin-right: 40px;
}

.column-two {
  margin-top: 40px;
}

.bio h1 {
  font-size: 40px;
}

h4 {
  font-size: 22px;
  margin: 0;
}

/* ----------------- */
/* SOCIAL */
#social-section {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.social-avatar {
  background-image: url("/resources/img/logo.png");
  background-size: contain;
  height: 60px;
  width: 60px;
  margin: 20px auto;
}

.social-content,
.social-tree {
  margin: 0 auto;
}

.social-content {
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 50px 10px;
  box-sizing: border-box;
}

.social-info h1 {
  font-size: 30px;
}

.social-info h2 {
  font-size: 19px;
}

.social-tree {
  font-size: 19px;
}

.social-info {
  margin-bottom: 40px;
}

.social-tree {
  padding: 0;
}

.social-tree li {
  margin: 8px 0;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
}

.social-tree a:hover {
  background-image: none;
  background-color: rgb(230, 230, 230);
  color: rgb(20, 20, 20);
  transition: 0.3s;
  cursor: pointer;
}

.social-tree li a {
  padding: 24px;
  display: block;
  height: 100%;
}


.link-one {
  background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.4)), url("/resources/img/pic008.jpg");
}

.link-two {
  background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.4)), url("/resources/img/pic021.jpg");
}

.link-three {
  background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.4)), url("/resources/img/pic006.jpg");
}

.link-four {
  background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.4)), url("/resources/img/pic010.jpg");
}

.link-five {
  background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.4)), url("/resources/img/pic022.jpg");
}

.link-six {
  background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0)), url("/resources/img/pic024.jpg");
}

.link-seven {
  background-image: linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 0.2)), url("/resources/img/pic025.jpg");
}

/* ----------------- */
/* FOOTER */
footer {
  display: block;
  text-align: center;
  margin: 60px auto;
}

.copyright {
  font-size: 14px;
  padding: 10px;
}

.social {
  padding: 0;
}

.social li {
  display: inline-block;
  padding-right: 12px;
}

.social li a {
  color: rgb(172, 172, 172);

}

.eml-footer,
.copyright {
  color: rgb(90, 90, 90);
}

/* ----------------- */
/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .bio-content {
    padding-top: 20%;
  }

  .img-content {
    height: 95%;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .bio-background {
    height: 450px;
  }
}

@media screen and (max-width: 850px) {
  .bio-background {
    height: 600px;
  }

  .bio {
    flex-flow: column wrap;
  }

  .column-one {
    margin-right: 0;
  }
  
  .column-two {
    margin-top: 0;
  }

  .close-btn {
    top: 6px;
    right: 6px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    top: 30%;
  }

  .bio {
    padding-top: 50%;
  }

  .column-one,
  .column-two {
    padding: 0 18px;
  }

  .social-content {
    padding: 25px 10px;
  }

}

@media screen and (max-width: 380px) {
  .logo-btn {
    height: 36px;
    width: 36px;
  }

  .main-nav li {
    margin-left: 20px;
  }

  .main-nav li a {
    font-size: 16px;
  }

  .name h1,
  .bio-name h1 {
    font-size: 38px;
  }

  .name h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 28px;
  }

  .social-info h1 {
    font-size: 24px;
  }
  
  .social-info h2 {
    font-size: 18px;
  }
  
  .social-tree {
    font-size: 16px;
  }
}

@media screen and (max-width: 280px) {
  .logo-btn {
    height: 32px;
    width: 32px;
    margin: 16px;
  }

  .main-nav u {
    margin: 24px 16px;
  }

  .main-nav li {
    margin-left: 16px;
  }

  .main-nav li a {
    font-size: 14px;
  }

  .bio-name h1 {
    font-size: 36px;
  } 

  .social li {
    padding: 6px 12px;
  }

}
